body{
    background-color :rgb(154, 128, 179);
    color : rgb(234, 177, 236);
}
header{
    background_color :#BF728C;
    color : #8A0E3A;

}
main {
    width: 80%;
    margin: auto;
}
section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius:12px;
}
img{
    width:100%;
    max-width:600xx;
    display: block;
    margin: auto;
    border-radius: 12px;

}
figcaption{ text-align: center;
    font-size: 14px;
    color: #555
    marrgin-top: 8px;
}